@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*   font-family: "Roboto", sans-serif; */

.header {
  background: rgb(168, 78, 98);
  background: linear-gradient(95deg, rgba(168, 78, 98, 1) 33%, rgba(159, 31, 63, 1) 71%);
}

.bg-container {
  /* height: 100vh; */
  width: 100%;
  background-color: rgb(214, 55, 55);
}

.navbar {
  position: sticky;
}

.hdr-h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}

.so-box {
  border-right: solid 1px red;
  transition: transform 0.5s ease-in-out;
}

.so-box:hover {
  transform: scale(0.9);
  cursor: pointer;
  border: 1px red solid;
}

.ms-img {
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.ms-img:hover {
  transform: scale(0.9);
  cursor: pointer;
  -webkit-box-shadow: -1px -1px 20px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px -1px 20px 5px rgba(0, 0, 0, 0.5);
  box-shadow: -1px -1px 20px 5px rgba(0, 0, 0, 0.5);
}

.dma {
  background-image: url(../img/mobile\ app.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}


.footer {
  background-color: #cebfbf;
  color: white;
}

.list {
  list-style: none;
}

.list li a {
  text-decoration: none;
}

.list li a:hover {
  text-decoration: underline;
}

.list li a i {
  font-size: 30px;
  color: white;
}

.copy{
  font-size: 40px;
}

/*  transition: transform 0.3s ease-in-out; */