@media screen and (min-width: 480px) {
  .bg-container {
    height: 130vh;
  }

  .hdr-img-box {
    height: 500px;
  }

  .fnh {
    text-align: center;
  }

}

@media screen and (min-width: 390px) {
  .fnh {
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .fnh {
    text-align: center;
  }
}

@media screen and (min-width: 375px) {
  .fnh {
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {


  .fnh h4 {
    float: left;
  }
}

/* nest hub  */
@media screen and (min-width: 1218px) {
  .bg-container {
    height: 100vh;
  }

}

@media only screen and (max-width: 600px) {

  /* Toggle switch styles */
  .NightlyWeb {
      /* display: inline-block; */
      z-index: 99999;
      /* position: static;
  top: 10px;
  left: 50%;
  user-select: none; */
      position: fixed;
      top: 90vh;
      right: 86%;
  }
}

@media only screen and (max-width: 994px) {

  /* Toggle switch styles */
  .NightlyWeb {
      /* display: inline-block; */
      z-index: 99999;
      /* position: static;
  top: 10px;
  left: 50%;
  user-select: none; */
      position: fixed;
      top: 90vh;
      right: 86%;
  }
}
